@use "mixins" as *;
@use "breakpoints" as bp;
@use "variables" as v;

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 10px; // mobile

  @include respond(md) {
    // md = 768px
    padding-inline: 0;
  }

  @each $size, $breakpoint in bp.$breakpoints {
    @include respond($size) {
      max-width: map-get(bp.$container-max-widths, $size);
    }
  }
}

.section-container {
  background-color: v.$color-background;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

span.icon-tt {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url(../res/imgs/icon-hotline-1.gif);
  background-size: 100%;
  vertical-align: middle;
  margin-right: 10px;
}

.btn {
  border-radius: 4px;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  transition: all 0.2s ease;
  background-color: transparent;
  border: 1px solid transparent;
}

.btn-green {
  border-color: v.$color-primary;
  color: v.$color-primary;

  &:hover {
    background-color: v.$color-primary;
    color: #fff;
  }
}

.btn-filled {
  background-color: v.$color-primary;
  color: #fff;
  border-color: v.$color-primary;

  &:hover {
    background-color: v.$color-primary-hover;
  }
}

.btn-apply {
  border-radius: 4px;
  border: 1px solid v.$color-primary;
  color: v.$color-primary;
  background-color: v.$color-primary;
  color: white;
  border-color: v.$color-primary;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  transition: all 0.2s ease;

  &:hover {
    background-color: v.$color-primary-hover;
  }
}

.zoom-hover {
  transition: transform 0.22s ease-out;
  transform: scale(0.9);
  transform-origin: center center;

  &:hover {
    transform: scale(1);
  }
}

.text-primary {
  color: v.$color-primary !important;
}
