@use "./variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: v.$font-sans;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  background-color: v.$color-background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: inherit;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
