/** Color **/
$color-primary: #1f851f;
$color-primary-hover: #25a525;
$color-primary-active: #1e7a1e;
$color-icon: #0b8701;
$color-gray-hover: #777777;
$color-light-gray-hover: #f8f9fa;
$color-white: #fff;
$color-dark-gray: #363636;
$color-background: #f4f4f4;

$color-header-icon: #e36c08;

$color-text: #000;
$color-secondary-text: #363636;
$color-border: #e1e1e1;

/** Font **/
$font-sans: "Inter", system-ui, -apple-system, "Segoe UI", Roboto;
