/* dialog */
.swal-cart-popup {
  min-width: auto !important;
  width: auto !important;
}

.swal2-icon {
  margin: 0 auto;
  transform: scale(0.7);
}

/* text */
.swal-cart-text {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
