@use "variables" as v;

.footer-wrapper {
  &__main {
    background-color: #000;

    .item-col {
      display: flex;
      flex-direction: column;
      // align-items: center;

      p {
        line-height: 24px;
      }

      h3.widget-title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.25rem;
        margin-bottom: 15px;
        line-height: 1.4;
      }

      #contact-info-widget {
        .contact-info {
          margin-bottom: 13px;

          .contact-detail {
          }
        }
      }

      li {
        margin-bottom: 10px;
        display: flex;
        align-items: flex-start;
        gap: 6px;

        i {
          text-align: left;
          margin-top: 4px;
          color: v.$color-primary !important;
          font-size: 14px;
          flex-shrink: 0;
        }
        span {
          line-height: 24px;
        }

        &:first-child {
          margin-top: 10px;
        }

        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .footer-list {
        li {
          position: relative;
          padding-left: 14px;
          margin-bottom: 8px;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0.3em;
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: 6px solid v.$color-primary;
          }
        }
      }
    }
  }

  &__bottom {
  }

  .facebook-widget {
    width: 100%;

    iframe {
      border: none;
      overflow: hidden;
    }
  }
}
